api.txt
backend/.env
backend/.env.local
backend/.env.production 
backend/.env.test               
frontend/.env   
frontend/.env.local 
frontend/.env.production 
frontend/.env.test                                                              
.venv
__pycache__/
*.pyc

# Local Storage
backend/data/
backend/chroma_db/
extracter/extracted_texts/
backend/reviews/

# Dependencies
node_modules/
**/node_modules/

# Build outputs
dist/

# IDEs
.vscode/
.idea/

venv/
